*{
    padding: 0;
    border: 0;
    box-sizing: none;
}
@font-face {
      font-family: dankeyz;
      src: url(/assets/fonts/static/Figtree-Medium.ttf);
    }
    @font-face {
      font-family: danbold;
      src: url(/assets/fonts/static/Figtree-ExtraBold.ttf);
    }
    body{
      background-color: hsl(47, 88%, 63%);
      font-family: dankeyz;
    }
    .cont{
      background-color: white;
      width: 30%;
      /* height: 80vh; */
      border-radius: 30px;
      margin: 10vh auto;
      border: 1px solid hsl(0, 0%, 7%);
      box-shadow: 20px 20px 0px -10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.1rem;

    }
    .illustration{
      border-radius: 20px;
      width: 100%;
    }
    button{
      font-weight: 900;
      border: none;
      padding: 10px;
      width: 6rem;
      border-radius: 5px;
      margin: 10px 0px;
      background-color: hsl(47, 88%, 63%);
    }
    main{
      color: hsl(0, 0%, 7%);
      /* font-family: danbold; */
      font-weight: 0;
    }
    section{
      color:  hsl(0, 0%, 42%);
      line-height: 1.5;
      /* font-weight: 600; */
    }
    footer{
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 900;
    margin: 20px 0px ;
    }
    footer img{
      width: 30px;
      height: 30px;
    }
    main:hover{
        color: hsl(47, 88%, 63%);
        cursor: pointer;
    }
    @media screen and (min-width:0px) and (max-width:800px){
        .cont{
            width: fit-content;
        }
    }